<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key ="PortNo" value="1234"/>
  </appSettings>-->
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="EnviroClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<userSettings>

		<EnviroClock.Properties.Settings>
			<setting name="SYSTEM_LOG" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="TRANSACTION_LOG" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="COMMAND_LOG" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="EXCEPTION_LOG" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ERROR_LOG" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Interval" serializeAs="String">
				<value>1000</value>
			</setting>
			<setting name="PortNo" serializeAs="String">
        <!--<value>1234</value>-->
				<value>2001</value>
			</setting>
			<setting name="connected" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ClockVersion" serializeAs="String">
				<value>CLK</value>
			</setting>
			<setting name="MasterPassword" serializeAs="String">
				<value>12345</value>
			</setting>
		</EnviroClock.Properties.Settings>
	</userSettings>

	<log4net debug="true">
		<appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Error/ErrorLog.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR"/>
				<levelMax value="ERROR"/>
			</filter>
		</appender>
		<appender name="SystemLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="AuditLog/SystemLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="INFO" />
			</filter>
		</appender>
		<appender name="CommandLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="CommandLog/CommandLog.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="Debug"/>
				<levelMax value="Debug"/>
			</filter>
		</appender>

		<root>
			<level value="ALL"/>
			<appender-ref ref="ErrorLogFileAppender"/>
			<appender-ref ref="ControllerLogFileAppender" />
			<appender-ref ref="SystemLogFileAppender" />
			<appender-ref ref="CommandLogFileAppender"/>
			<appender-ref ref="DBLogFileAppender" />
		</root>
	</log4net>


</configuration>
